body{
    background-color: black;
    margin: 0px;
}

.navbar{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns:  750px 150px 150px 150px 150px;
    grid-gap: 10px;
    
}
.navbar>h2{
    font-family: 'Labrada', serif;
}
.logo{
    width: 5vw;
    height: 7vh;
    border-radius:50% ;
    
    position: absolute;
    top: 15px;
    z-index: -1;

}

.header-text{
    color: yellow;
}

.lifestyle{
    /* background-color: orange; */
    padding-left: 43px;
}
.products{
    /* background-color: red; */
    margin-top: 30px;
}

.offers{
    /* background-color: blue; */
    margin-top: 30px;
}

.about{
    /* background-color: blueviolet; */
    margin-top: 30px;
}

.cart{
    /* background-color: aliceblue; */
    margin-top: 25px;
}